# Visual Studio Code
.vscode/

# Rider
.idea/

# Compiled files
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr]64/
bld/
[Bb]uild/
[Bb]uild[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]emp/
[Tt]est[Rr]esults/
[Rr]efresh/
_publish/
pub/

# Others
_ReSharper*/
[Tt]est[Rr]esult*/
*.bak
*.Cache
*.log
*.DS_Store
*.bak
*.cache
*.orig
*.pyc
*.pyo
*.rej
*.sln.docstates
*.user
*.suo
*.tmproj
*.dll.config.user
Thumbs.db
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.sdf
*.dbmdl
[Bb]uild[Ll]og.*
