@using mvc.Controllers
@model List<Oneusershelves>
@{
    ViewData["Title"] = "Home Page";
}


<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>Username</th>
            <th>Shelf name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Shelfname</td>
                
            </tr>
        }
    </tbody>
</table>
