@using mvc.Controllers
@model List<OneUserBooksView>
@{
  ViewData["Title"] = "Home Page";
}

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AllBooks">All Books</a>




<h1>All Users :</h1>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tr>
    @foreach (var x in Model)
    {
      <td>@x.Id</td>
      <td>@x.UserName</td>
      <td>@string.Join(", ",x.Title)</td>


    }

  </tr>


</table>
