@model List<Book>
@{
  ViewData["Title"] = "Home Page";
}

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AllBooks">All Books</a>




<h1>one user books by status :</h1>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">book title </th>
      <th scope="col">book status</th>

    </tr>
  </thead>
  @foreach (var book in Model)
  {
    <tr>
      <td>@foreach (var bshl in book.BookShelfAndBooks)
        {
          @foreach (var user in bshl.BookShelves.bookShelfAndUsers)
          {
            @user.User.Username
          }
        }
      </td>

      <td>@book.Title</td>
      <td>@foreach (var bshl in book.BookShelfAndBooks)
        {
          @if (bshl.BookShelves.BookStatus == 0)
          {
            <h4>reading</h4>
          }
          else if (bshl.BookShelves.BookStatus == 1)
          {
            <h4>finished</h4>

          }
        }
      </td>

    </tr>

  }


  @* <td>@string.Join(", ",x.Title)</td> *@






</table>
